---
title: "Андрей Ломов - Видео и Фото Съемка"
---

.container style="margin-top: 140px"

  .row
    .col-xs-12.col-sm-5.col-lg-5.text-right
      .foto
        = image_tag 'avatar.jpg'
    .col-xs-12.col-sm-7.col-lg-7
      h1.title Андрей Ломов
      h3.sub-title Качественная Авторская Фото и Видео Съемка
      .social
        ul.animated.fadeIn.visible data-animation="fadeIn" data-animation-delay="600"
          li
            a class="hover-animate" href="#"
              i class="fa fa-facebook"
          li
            a class="hover-animate" href="#"
              i class="fa fa-twitter"
          li
            a class="hover-animate" href="#"
              i class="fa fa-linkedin"
          li
            a class="hover-animate" href="#"
              i class="fa fa-youtube"